@await Html.PartialAsync("_SidebarPartial")
<div class="col-8 col-12-medium imp-medium">
    <div id="content">
        <article>
            <header class="major">
                <h2>Добро пожаловать на сайт строительной компании "Монолит"!</h2>
                <p>Строй своё будущее вместе с нами!</p>
            </header>
            <span class="image featured"><img src="~/img/titleImg.webp" alt="welcome" /></span>
        </article>
    </div>
</div>

