@model Service
@{
    string title = "Редактировать запись";
    ViewBag.Title = title;
}

@*TODO: Хак для стилей TinyMCE*@
<<style>
     button {
         color: black !important;
     }
</style>


@*Подключение TinyMCE*@
<script src="https://cdn.tiny.cloud/1/lihjm5gl3e9mwfb9adr478mjcqlwhiws4i2zzhzbgavz73m0/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>

<div>
    <h2>@title</h2>
    <div>
        <form asp-area="" asp-controller="Admin" asp-action="ServicesEdit" method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="DateCreated" />
            <input type="hidden" asp-for="Photo" />

            <div asp-validation-summary="All"></div>

            <div class="div-box">
                <label asp-for="ServiceCategoryId"></label>
                <select asp-for="ServiceCategoryId">
                    <option value="">...выберите из списка...</option>
                    @foreach (ServiceCategory entity in ViewBag.ServiceCategories)
                    {
                        <option value="@entity.Id">@entity.Title</option>
                    }
                </select>
                <span asp-validation-for="ServiceCategoryId"></span>
            </div>

            <div class="div-box">
                <label asp-for="Title"></label>
                <input asp-for="Title" />
                <span asp-validation-for="Title"></span>
            </div>

            <div class="div-box">
                <label asp-for="Type"></label>
                <select asp-for="Type" asp-items="Html.GetEnumSelectList<ServiceTypeEnum>()"></select>
                <span asp-validation-for="Type"></span>
            </div>

            <div class="div-box">
                <label asp-for="DescriptionShort"></label>
                <input asp-for="DescriptionShort" />
                <span asp-validation-for="DescriptionShort"></span>
            </div>

            <div class="div-box">
                <label asp-for="Description"></label>
                <textarea asp-for="Description"></textarea>
                <span asp-validation-for="Description"></span>
            </div>

            <div class="div-box">
                <label asp-for="Photo"></label>
                <input type="file" name="titleImageFile" id=" titleImageFile" />
                <div>
                    <img class="img-block" src="~/img/@Model.Photo" />
                </div>
                <span asp-validation-for="DescriptionShort"></span>
            </div>

            <input type="submit" value="Сохранить" />
        </form>
    </div>
</div>

@*Скрипт TinyMCE*@
<script>
    tinymce.init({
      selector: 'textarea',
      language: "ru",
      plugins: [
        'anchor', 'autolink', 'charmap', 'codesample', 'emoticons', 'image', 'link', 'lists', 'media', 'searchreplace', 'table', 'visualblocks', 'wordcount',
        'checklist', 'mediaembed', 'casechange', 'export', 'formatpainter', 'pageembed', 'a11ychecker', 'tinymcespellchecker', 'permanentpen', 'powerpaste', 'advtable', 'advcode', 'editimage', 'advtemplate', 'ai', 'mentions', 'tinycomments', 'tableofcontents', 'footnotes', 'mergetags', 'autocorrect', 'typography', 'inlinecss', 'markdown','importword', 'exportword', 'exportpdf'
      ],
      toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
      tinycomments_mode: 'embedded',
      tinycomments_author: 'Author name',
      mergetags_list: [
        { value: 'First.Name', title: 'First Name' },
        { value: 'Email', title: 'Email' },
      ],
      ai_request: (request, respondWith) => respondWith.string(() => Promise.reject('See docs to implement AI Assistant')),
      automatic_uploads: true,
      images_upload_url: '/admin/SaveEditorImg',
      images_reuse_filename: true,
      image_dimensions: false,
      paste_data_images: true,
      convert_urls: false
    });
</script>