<!DOCTYPE HTML>
<html>
<head>
    @await Html.PartialAsync(nameof(Views_Shared__MetaPartial));
    @await Html.PartialAsync(nameof(Views_Shared__CssPartial));
</head>
<body class="left-sidebar is-preload">
    <div id="page-wrapper">
        @await Html.PartialAsync(nameof(Views_Shared__HeaderPartial));
        <div id="main-wrapper">
            <div class="wrapper style2">
                <div class="inner">
                    <div class="container">
                        <div class="row">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @await Html.PartialAsync(nameof(Views_Shared__FooterPartial));
    </div>
    @await Html.PartialAsync(nameof(Views_Shared__ScriptsPartial));
</body>
</html>